.field {
  font-size: 0;
  padding: 40px;
}

.cell {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  margin-right: -1px;
}